/* Estilos básicos */
/* Definindo a fonte padrão e resetando as margens e preenchimentos */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Definindo um container com largura máxima de 960px, centralizado */
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilizando o título principal */
h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilizando a navegação */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #66bb6a;
}

/* Estilos específicos para cada página */

/* Estilos para index.html */
/* Centralizando o conteúdo na página */
.index-content {
  text-align: center;
}

/* Estilizando uma imagem com classe "perfil" */
.perfil {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Estilizando uma imagem dentro do conteúdo com classe "index-content" */
.index-content img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

/* Estilos para sobre.html */
/* Estilizando a seção "sobre" com um fundo e preenchimento */
.sobre {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}

/* Estilizando um perfil com imagem e texto */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

/* Estilizando a imagem do perfil */
.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilizando títulos e parágrafos */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #0e0d0d;
  line-height: 1.5;
}

/* Estilizando uma lista com estilo de marcador */
ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Estilos para contato.html */
/* Estilizando a seção "contato" com um fundo e preenchimento */
.contato {
  background-color: #f9f9f9;
  padding: 40px 0;
  text-align: center;
}

/* Estilizando informações de contato */
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* Estilizando uma imagem com classe "logo" */
.logo {
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

/* Estilizando a imagem de contato */
.contact-info img {
  width: 30px;
 

 height: 30px;
  margin-right: 10px;
}

/* Estilizando links de contato */
.contact-info a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: color 0.3s ease;
}

.contact-info a:hover {
  color: #66bb6a;
}

/* Estilizando o rodapé */
footer {
  background-color: #f9f9f9;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #1d1c1c;
}
